body {
  padding: 1%;
}

.SensorList {
  width: 100%;
}

.SensorListItem {
  background: white;
  margin: auto;
  margin-top: 24px;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-left: 6px solid #87c38f;
}

.SensorListName {
  font-size: 2rem;
  padding: 10px;
}

.SensorListError {
  margin: 24px;
}

.SensorListLoading {
  margin: 24px;
}

.detail {
  padding: 5px;
  background-color: lightgreen;
  border: 5px solid green;
  font-size: 20px;
  width: 90%;
  height: 40%;
}

.SensorListDescription {
  padding: 20px;
}